.tools {
	margin-top: 200px;
	min-height: 100vh;
	margin-bottom: 200px;
	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px;

		h1 {
			font-size: 48px;
			color: #ffffffe5;
		}
		p {
			color: #ffffff8c;
			font-size: 18px;
			width: 427px;
			margin-bottom: 90px;
		}
	}

	.items {
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		gap: 25px;
		width: 1250px;
	}

	.btn-load {
		width: 185px;
		height: 65px;
		border-radius: 8px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: #1e252b;
		color: #FF6E30;
		margin: 0 auto;

		&:hover {
			background-color: #FF6E30;
			color: #fff;
		}
		
	}
}
